security:
    password_hashers:
        App\Entity\User: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: name

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticators:
                - App\Security\DemoAuthenticator

    access_control:
        - { path: ^/admin, roles: Руководитель }
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }