{
	# Enable FrankenPHP
	frankenphp
	order php_server before file_server
}

:80 {
	# Set the root to the public directory
	root * public/
	
	# Enable compression
	encode zstd gzip
	
	# Enable PHP server
	php_server
}

