services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVER_NAME=:80
      - APP_ENV=prod
      - APP_DEBUG=0
      - DATABASE_URL=sqlite:///%kernel.project_dir%/var/data.db
